---
---
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Tech Blog</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

<body class="bg-[#0b0f19] text-white font-sans">
  <slot />
</body>

<style>
body {
  font-family: "Inter", sans-serif;
}
h1,h2,h3 {
  font-family: "Roboto Condensed", sans-serif;
}
</style>
</html>